$color-black: #000;
$color-white: #fff;

$color-dark-gray: #383838;
$color-medium-gray: #bfbfbf;
$color-light-gray: #eee;
$color-lighter-gray: #e1e1e1;

$color-slate: #9aacbf;
$color-blue: #25a6f7;

$font-main: 'Roboto', sans-serif;
