.checkout__summary {

    & > h5 {
        border-bottom: 1px solid $color-slate;
    }

    .summary-table {

        &__row {
            padding: 15px 0;
            border-bottom: 1px solid $color-light-gray;

            &:last-of-type {border-bottom: none; }
        }//&__row

        label,
        span {
            display: inline-block;
            font-family: $font-main;
            color: $color-black;
            @include font-size(1.6);
            font-weight: 500;
            text-transform: uppercase;
        }//label

        span { @include font-size(1.8); }

    }//.summary-table

}//.checkout__summary

.checkout__item {
    background-color: $color-lighter-gray;

    &-img {
        height: 250px;

        @include media((min-width: $media-lg)) {
            height: 150px;
        }
    }//.&-img

    .item-attr {
        height: calc(100% - 41.67px);
        margin-top: 15px;

        & > div {
            width: 100%;
            margin-bottom: 15px;

            &:last-of-type {
                margin-bottom: 0;
            }

            h5 {
                padding-top: 4px;
                @include font-size(1.6);
            }

            &.item-attr__size{
                width: 50%
            }

            &.item-attr__quantity{
                width: 50%;
            }

            @include media((min-width: $media-lg)) {
                width: auto !important;
                min-width: 55px;
                margin-right: 30px;
                margin-bottom: 0;

                &:last-of-type {
                    margin-right: 0;
                }

                &.item-attr__actions{ width: 100% !important; }

            }
        }

        &__label {
            display: inline-block;
            margin-bottom: 5px;
            font-family: $font-main;
            color: $color-slate;
            @include font-size(1.4);
            font-weight: 500;
            text-transform: uppercase;
        }//&__label

        .remove-item {
            font-family: $font-main;
            @include font-size(1.2);
            color: $color-danger;
            text-decoration: underline;
            cursor: pointer;
            @include transition-style;

            @include hover {
                opacity: 0.5;
            }

        }//.remove-item

    }//.item-attr

}//.checkout__item
