.dashboard {

    &__intro {
        color: $color-white;
        padding: 20px;
        background-color: $color-blue;
    }//&__intro

}//&.dashboard

.order-container {
    position: relative;
    min-height: 200px;
    border-bottom: 3px solid $color-blue;

    &__heading {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 3px solid $color-blue;
    }

}//.order-container

.orders__item {
    padding: 20px 10px;
    border-bottom: 2px solid $color-medium-gray;
    background-color: $color-white;

    &:nth-of-type(2n) { background-color: $color-lighter-gray; }

    &:last-of-type{ border-bottom: none; }

    .item {

        &__header {

            label {
                display: inline-block;
                margin-bottom: 3px;
                font-family: $font-main;
                font-weight: 500;
                @include font-size(1.4);
                    color: $color-medium-gray;
            }

        }//&__header

        &__body {

            .item__body__heading {
                color: $color-medium-gray;
            }

            table {

                th, td{ min-width: 150px;}

            }//table

        }//&__body

        &__products {

            .item__product {
                background-color: $color-white;
                border: 1px solid $color-light-gray;

                .product__detail {
                    @include flexbox;
                    @include align-items(center);
                    margin-bottom: 5px;

                    &:last-of-type{ margin-bottom: 0; }

                    .product__name {
                        font-weight: 500;
                    }

                    span {
                        display: inline-block;

                        &.product__label {
                            min-width: 31px;
                            margin-right: 5px;
                            font-family: $font-main;
                            font-weight: 500;
                            color: $color-medium-gray;
                            @include font-size(1.2);
                        }//&.product__label

                        &.product__value p{
                            @include font-size(1.4);
                        }//&.product__value

                    }//span

                }//.product__detail

            }//.item__product

        }//&__products

    }//&__item

}//.orders
