.login__wrapper {
    position: relative;
    width: 100%;
    min-height: 350px;
    margin: 0 auto;
    padding: 30px;
    background-color: $color-lighter-gray;

    @include media((min-width: $media-lg)) {
        width: 500px;
    }

    .error-message{
        padding: 7px;
        background-color: #ffeded;
        margin-bottom: 30px;

        p {
            color: $color-danger;
            @include font-size(1.4);
            text-align: center;
        }//p

    }//.error-message

}//.login_wrapper

.auth-state {

    p { @include font-size(1.4); }

    span {
        font-family: $font-main;
        @include font-size(1.4);
        color: $color-danger;
        text-decoration: underline;
        cursor: pointer;
    }//span

}//.auth-state
