.product-page {

    &__img-container {
        position: relative;
        height: 400px;

        @include media((min-width: $media-lg)) {
            height: 600px;
        }
    }//&__img-container

    .size-selector {
        position: relative;

        &__error {
            position: absolute;
            bottom: 110%;
            left: 0;

            p {
                color: $color-danger;
                @include font-size(1.6);
            }//p

        }//&__error

    }//.size-selector

}//.product-page
