.slide-menu {
    position: fixed;
    top: 68px;
    right: -100%;
    width: 80%;
    height: calc(100% - 68px);
    background-color: $color-white;
    z-index: 9998;
    @include transition-style;

    &__nav {

        ul li {
            text-align: right;
            border-bottom: 1px solid $color-light-gray;

            a {
                display: inline-block;
                width: 100%;
                padding: 20px;
                @include font-size(1.8);
            }

        }//ul

    }//&__nav

    &.active {
        right: 0;
    }

    @include media((min-width: $media-lg)) {
        display: none;
    }

}//.slide-menu
